<a href="https://colab.research.google.com/github/rnlima8/Aula_do_dia_06out/blob/main/Desafio_churn2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import statsmodels.api as sm
import statsmodels.formula.api as smf
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score, roc_curve, classification_report, accuracy_score, confusion_matrix

###carregar dados

In [ ]:
url = 'https://raw.githubusercontent.com/jjefferson2006/DSWP_JJ_altera/main/train.csv'
df_churn_train = pd.read_csv(url)
df_churn_train.head()

     id  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  4030  Female              0  ...          45.05       2560.1      0
1  6731    Male              0  ...          19.65       332.65      0
2  6479  Female              0  ...         110.80       6640.7      0
3  6861  Female              0  ...         101.90      3545.35      1
4  3266    Male              0  ...          70.75       1974.8      1

[5 rows x 21 columns]