<a href="https://colab.research.google.com/github/rnlima8/Aula_do_dia_06out/blob/main/desafio_kaggle_2_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import statsmodels.api as sm
import statsmodels.formula.api as smf
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score, roc_curve, classification_report, accuracy_score, confusion_matrix

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
url = 'https://raw.githubusercontent.com/jjefferson2006/DSWP_JJ_altera/main/test.csv'
df_churn_test = pd.read_csv(url)
df_churn_test

        id  gender  ...  MonthlyCharges TotalCharges
0     5027    Male  ...           20.00        445.3
1     1733    Male  ...           99.00       5969.3
2     5384    Male  ...           84.75      3050.15
3     6554  Female  ...           61.45      3751.15
4      364  Female  ...           20.55        945.7
...    ...     ...  ...             ...          ...
1404  4897    Male  ...           49.70       1167.8
1405  6940    Male  ...           89.20       3251.3
1406   804  Female  ...           64.20       3009.5
1407  1143    Male  ...           75.20        775.3
1408  5773    Male  ...           81.95       5601.4

[1409 rows x 20 columns]

In [ ]:
#Normalizar as colunas
df_churn_test.columns = [col.lower() for col in df_churn_test.columns]
df_churn_test.head()

     id  gender  ...  monthlycharges totalcharges
0  5027    Male  ...           20.00        445.3
1  1733    Male  ...           99.00       5969.3
2  5384    Male  ...           84.75      3050.15
3  6554  Female  ...           61.45      3751.15
4   364  Female  ...           20.55        945.7

[5 rows x 20 columns]

In [ ]:
df_churn_test.dtypes

id                    int64
gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure              float64
phoneservice         object
multiplelines        object
internetservice      object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
paperlessbilling     object
paymentmethod        object
monthlycharges      float64
totalcharges         object
dtype: object

In [ ]:
df_churn_test.shape

(1409, 20)

In [ ]:
df_churn_test.isna().sum()

id                    0
gender                0
seniorcitizen         0
partner               0
dependents           41
tenure              118
phoneservice          0
multiplelines         0
internetservice       0
onlinesecurity        0
onlinebackup          0
deviceprotection      0
techsupport           0
streamingtv           0
streamingmovies       0
contract              0
paperlessbilling      0
paymentmethod        30
monthlycharges        0
totalcharges          0
dtype: int64

###trata os dependentes

In [ ]:
#criar uma lista dos index nan na feature dependents
l_index_na_dep = list(df_churn_test[df_churn_test['dependents'].isna()].index)
l_index_na_dep

[46,
 69,
 79,
 129,
 147,
 153,
 156,
 190,
 235,
 301,
 372,
 386,
 404,
 423,
 476,
 497,
 498,
 543,
 555,
 637,
 666,
 718,
 728,
 744,
 767,
 842,
 869,
 874,
 876,
 1030,
 1031,
 1088,
 1093,
 1109,
 1124,
 1140,
 1152,
 1335,
 1337,
 1402,
 1404]

In [ ]:
#conta os No e Yes
df_churn_test[['dependents']].value_counts()

dependents
No            953
Yes           415
dtype: int64

In [ ]:
dependents_na = df_churn_test['dependents'].isna().sum()
dependents_na

41

In [ ]:
#calcula a % excluindo os na
df_churn_test[['dependents']].value_counts()/(df_churn_test.shape[0]-dependents_na)*100

dependents
No            69.663743
Yes           30.336257
dtype: float64

In [ ]:
f = 41*0.6966 (29)
f

28.5606

In [ ]:
41*0.3033 (11)

12.4353

In [ ]:
#tratamento da feature dependents
s = 0
for c in l_index_na_dep:
    s = s + 1  
    if s <= 29:
        df_churn_test['dependents'][c] = 'Yes'
    else:
        df_churn_test['dependents'][c] = 'No'

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df_churn_test.isna().sum()

id                    0
gender                0
seniorcitizen         0
partner               0
dependents            0
tenure              118
phoneservice          0
multiplelines         0
internetservice       0
onlinesecurity        0
onlinebackup          0
deviceprotection      0
techsupport           0
streamingtv           0
streamingmovies       0
contract              0
paperlessbilling      0
paymentmethod        30
monthlycharges        0
totalcharges          0
dtype: int64

### tratar o paymentmethod

In [ ]:
df_churn_test[['paymentmethod', 'gender']].value_counts()

paymentmethod              gender
Electronic check           Female    223
                           Male      207
Credit card (automatic)    Female    177
Bank transfer (automatic)  Male      168
Mailed check               Male      164
Credit card (automatic)    Male      152
Mailed check               Female    149
Bank transfer (automatic)  Female    139
dtype: int64

In [ ]:
l_index_pay = list(df_churn_test[df_churn_test['paymentmethod'].isna()].index)
l_index_pay

[1,
 13,
 27,
 29,
 67,
 143,
 193,
 207,
 254,
 297,
 349,
 375,
 425,
 453,
 758,
 774,
 783,
 847,
 855,
 896,
 898,
 988,
 1075,
 1160,
 1276,
 1284,
 1319,
 1357,
 1367,
 1376]

In [ ]:
#tratamento da feature dependents no df_pay_trat_na
b = 0
for c in l_index_pay:
    b = b + 1  
    if b <= 7:
        if df_churn_test['gender'][c] == 'Female':
            df_churn_test['paymentmethod'][c] = 'Electronic check'
        else:
            df_churn_test['paymentmethod'][c] = 'Electronic check'
    if b <= 15:
         if df_churn_test['gender'][c] == 'Female':
            df_churn_test['paymentmethod'][c] = 'Mailed check'
         else:
            df_churn_test['paymentmethod'][c] = 'Mailed check'
    if b <= 22:
         if df_churn_test['gender'][c] == 'Female':
            df_churn_test['paymentmethod'][c] = 'Credit card (automatic)'
         else:
            df_churn_test['paymentmethod'][c] = 'Credit card (automatic)'
    if b <= 30:
         if df_churn_test['gender'][c] == 'Female':
            df_churn_test['paymentmethod'][c] = 'Bank transfer (automatic)'
         else:
            df_churn_test['paymentmethod'][c] = 'Bank transfer (automatic)'

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df_churn_test.isna().sum()

id                    0
gender                0
seniorcitizen         0
partner               0
dependents            0
tenure              118
phoneservice          0
multiplelines         0
internetservice       0
onlinesecurity        0
onlinebackup          0
deviceprotection      0
techsupport           0
streamingtv           0
streamingmovies       0
contract              0
paperlessbilling      0
paymentmethod         0
monthlycharges        0
totalcharges          0
dtype: int64

In [ ]:
df_churn_test[['paymentmethod', 'gender']].value_counts()

paymentmethod              gender
Electronic check           Female    223
                           Male      207
Bank transfer (automatic)  Male      183
Credit card (automatic)    Female    177
Mailed check               Male      164
Bank transfer (automatic)  Female    154
Credit card (automatic)    Male      152
Mailed check               Female    149
dtype: int64

tratar tenure

In [ ]:
#isna para serie e df
#no df é mais detalhada
df_churn_test[['tenure']].isna().sum()

tenure    118
dtype: int64

In [ ]:
df_churn_test[['tenure']].describe()

            tenure
count  1291.000000
mean     32.460883
std      24.843710
min       0.000000
25%       9.000000
50%      29.000000
75%      57.000000
max      72.000000

In [ ]:
df_churn_test[df_churn_test['tenure']==57].count()

id                  15
gender              15
seniorcitizen       15
partner             15
dependents          15
tenure              15
phoneservice        15
multiplelines       15
internetservice     15
onlinesecurity      15
onlinebackup        15
deviceprotection    15
techsupport         15
streamingtv         15
streamingmovies     15
contract            15
paperlessbilling    15
paymentmethod       15
monthlycharges      15
totalcharges        15
dtype: int64

In [ ]:
#29(53); 9 (81); 55(48), substutir por 28
mp_q = (9*24+29*13+57*15)/(24+13+15)
mp_q

27.846153846153847

In [ ]:
#substituição dos na por mp_q = 27
df_churn_test['tenure'].fillna(28, inplace = True)

In [ ]:
df_churn_test.isna().sum()

id                  0
gender              0
seniorcitizen       0
partner             0
dependents          0
tenure              0
phoneservice        0
multiplelines       0
internetservice     0
onlinesecurity      0
onlinebackup        0
deviceprotection    0
techsupport         0
streamingtv         0
streamingmovies     0
contract            0
paperlessbilling    0
paymentmethod       0
monthlycharges      0
totalcharges        0
dtype: int64

###tratar o totakcharges

In [ ]:
df_churn_test['totalcharges'] = df_churn_test['totalcharges'].str.replace(',', '.')
df_churn_test['totalcharges'] = pd.to_numeric(df_churn_test['totalcharges'], errors= 'coerce')

In [ ]:
df_churn_test[['totalcharges']].isna().sum()

totalcharges    3
dtype: int64

In [ ]:
l_index_charg = list(df_churn_test[df_churn_test['totalcharges'].isna()].index)
l_index_charg

[313, 1063, 1297]

In [ ]:
df_churn_test['monthlycharges'][1297]

20.25

In [ ]:
#df_churn_test['monthlycharges'][313]
for i in l_index_charg:
    df_churn_test['totalcharges'][i] =df_churn_test['monthlycharges'][i]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
df_churn_test.isna().sum()

id                  0
gender              0
seniorcitizen       0
partner             0
dependents          0
tenure              0
phoneservice        0
multiplelines       0
internetservice     0
onlinesecurity      0
onlinebackup        0
deviceprotection    0
techsupport         0
streamingtv         0
streamingmovies     0
contract            0
paperlessbilling    0
paymentmethod       0
monthlycharges      0
totalcharges        0
dtype: int64

In [ ]:
df_churn_test.head()

     id  gender  ...  monthlycharges totalcharges
0  5027    Male  ...           20.00       445.30
1  1733    Male  ...           99.00      5969.30
2  5384    Male  ...           84.75      3050.15
3  6554  Female  ...           61.45      3751.15
4   364  Female  ...           20.55       945.70

[5 rows x 20 columns]

#tratando as categoricas

In [ ]:
df_churn_test.gender.replace(['Female', 'Male'], [1, 0], inplace=True)
df_churn_test.partner.replace(['Yes', 'No'], [1, 0], inplace=True)
df_churn_test.phoneservice.replace(['Yes', 'No'], [1, 0], inplace=True)
df_churn_test.paperlessbilling.replace(['Yes', 'No'], [1, 0], inplace=True)
#df_churn_train.dependents.replace(['Yes', 'No'], [1, 0], inplace=True)

In [ ]:
df_churn_test.internetservice.replace(['Fiber optic', 'DSL', 'No'], [1,2,0], inplace=True)
df_churn_test.paymentmethod.replace(['Electronic check', 'Bank transfer (automatic)', 'Mailed check', 'Credit card (automatic)'], [1,2,3,4], inplace=True)
df_churn_test.contract.replace(['Two year', 'One year', 'Month-to-month'], [2,1,0], inplace=True)
df_churn_test.multiplelines.replace(['No', 'Yes', 'No phone service'], [0,1,3], inplace=True)
df_churn_test.onlinesecurity.replace(['No', 'Yes', 'No internet service'], [0,1,2], inplace=True) 
df_churn_test.onlinebackup.replace(['No', 'Yes', 'No internet service'], [0,1,2], inplace=True)
df_churn_test.deviceprotection.replace(['No', 'Yes', 'No internet service'], [0,1,2], inplace=True)
df_churn_test.techsupport.replace(['No', 'Yes', 'No internet service'], [0,1,2], inplace=True)
df_churn_test.streamingtv.replace(['No', 'Yes', 'No internet service'], [0,1,2], inplace=True)
df_churn_test.streamingmovies.replace(['No', 'Yes', 'No internet service'], [0,1,2], inplace=True)

In [ ]:
df_churn_test.head()

     id  gender  seniorcitizen  ...  paymentmethod monthlycharges  totalcharges
0  5027       0              0  ...              4          20.00        445.30
1  1733       0              1  ...              2          99.00       5969.30
2  5384       0              0  ...              1          84.75       3050.15
3  6554       1              0  ...              2          61.45       3751.15
4   364       1              0  ...              3          20.55        945.70

[5 rows x 20 columns]

In [ ]:
df_churn_test.dependents.replace(['Yes', 'No'], [1, 0], inplace=True)

In [ ]:
df_churn_test.head()

     id  gender  seniorcitizen  ...  paymentmethod  monthlycharges  totalcharges
0  5027       0              0  ...              4           20.00        445.30
1  1733       0              1  ...              2           99.00       5969.30
2  5384       0              0  ...              1           84.75       3050.15
3  6554       1              0  ...              2           61.45       3751.15
4   364       1              0  ...              3           20.55        945.70

[5 rows x 20 columns]

In [ ]:
df_churn_test.isna().sum()

id                  0
gender              0
seniorcitizen       0
partner             0
dependents          0
tenure              0
phoneservice        0
multiplelines       0
internetservice     0
onlinesecurity      0
onlinebackup        0
deviceprotection    0
techsupport         0
streamingtv         0
streamingmovies     0
contract            0
paperlessbilling    0
paymentmethod       0
monthlycharges      0
totalcharges        0
dtype: int64