<a href="https://colab.research.google.com/github/rnlima8/Aula_do_dia_06out/blob/main/desafio_analise1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pycaret

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn.preprocessing import MinMaxScaler
import statsmodels.api as sm
import statsmodels.formula.api as smf
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score, roc_curve, classification_report, accuracy_score, confusion_matrix

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
from pycaret.classification import *

In [ ]:
url = 'https://raw.githubusercontent.com/jjefferson2006/DSWP_JJ_altera/main/train.csv'
df_churn_train = pd.read_csv(url)
df_churn_train

        id  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0     4030  Female              0  ...          45.05       2560.1      0
1     6731    Male              0  ...          19.65       332.65      0
2     6479  Female              0  ...         110.80       6640.7      0
3     6861  Female              0  ...         101.90      3545.35      1
4     3266    Male              0  ...          70.75       1974.8      1
...    ...     ...            ...  ...            ...          ...    ...
5629  6684    Male              0  ...          44.15       1931.3      0
5630   604    Male              0  ...         108.65       4903.2      0
5631  4803  Female              0  ...          54.65       1517.5      0
5632  6317    Male              0  ...          25.25      1573.05      0
5633   103    Male              0  ...          95.00       3605.6      0

[5634 rows x 21 columns]

In [ ]:
#Normalizar as colunas
df_churn_train.columns = [col.lower() for col in df_churn_train.columns]
df_churn_train.head()

     id  gender  seniorcitizen  ... monthlycharges totalcharges  churn
0  4030  Female              0  ...          45.05       2560.1      0
1  6731    Male              0  ...          19.65       332.65      0
2  6479  Female              0  ...         110.80       6640.7      0
3  6861  Female              0  ...         101.90      3545.35      1
4  3266    Male              0  ...          70.75       1974.8      1

[5 rows x 21 columns]

In [ ]:
df_churn_train.dtypes

id                    int64
gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure              float64
phoneservice         object
multiplelines        object
internetservice      object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
paperlessbilling     object
paymentmethod        object
monthlycharges      float64
totalcharges         object
churn                 int64
dtype: object

In [ ]:
df_churn_train.isna().sum()

id                    0
gender                0
seniorcitizen         0
partner               0
dependents          218
tenure              461
phoneservice          0
multiplelines         0
internetservice       0
onlinesecurity        0
onlinebackup          0
deviceprotection      0
techsupport           0
streamingtv           0
streamingmovies       0
contract              0
paperlessbilling      0
paymentmethod        99
monthlycharges        0
totalcharges          0
churn                 0
dtype: int64

In [ ]:
df_churn_train.shape

(5634, 21)

###pay

In [ ]:
#contar a variavel 
df_churn_train['paymentmethod'].value_counts()

In [ ]:
df_churn_train['paymentmethod'].isna().sum()

In [ ]:
df_churn_train['paymentmethod'].fillna('Electronic check', inplace=True)

###trat dep

In [ ]:
df_churn_train['dependents'].isna().sum()

In [ ]:
#contar a variavel 
df_churn_train['dependents'].value_counts()

In [ ]:
#criterio = moda
df_churn_train['dependents'].fillna('No', inplace=True)

###tratar as numeric

In [ ]:
df_churn_train['totalcharges'] = df_churn_train['totalcharges'].str.replace(',', '.')
df_churn_train['totalcharges'] = pd.to_numeric(df_churn_train['totalcharges'], errors= 'coerce')

In [ ]:
df_churn_train['monthlycharges'].isna().sum()

0

In [ ]:
df_churn_train['totalcharges'].sum()

12790788.7

In [ ]:
df_churn_train['tenure'].isna().sum()

461

In [ ]:
df_churn_train['tenure_esti']=round(df_churn_train['totalcharges']/df_churn_train['monthlycharges'],2)

In [ ]:
df_churn_train['tenure_rou']=round(df_churn_train['tenure_esti'])

In [ ]:
df_churn_train.head()

     id  gender  seniorcitizen  ... churn tenure_esti  tenure_rou
0  4030  Female              0  ...     0       56.83        57.0
1  6731    Male              0  ...     0       16.93        17.0
2  6479  Female              0  ...     0       59.93        60.0
3  6861  Female              0  ...     1       34.79        35.0
4  3266    Male              0  ...     1       27.91        28.0

[5 rows x 23 columns]

In [ ]:
l_tot_ten = list(df_churn_train[df_churn_train['tenure'].isna()].index)
l_tot_ten

[1,
 11,
 34,
 45,
 55,
 92,
 94,
 109,
 121,
 133,
 185,
 190,
 193,
 200,
 221,
 223,
 231,
 234,
 247,
 251,
 268,
 288,
 298,
 323,
 332,
 346,
 353,
 368,
 372,
 381,
 390,
 398,
 408,
 409,
 436,
 453,
 463,
 464,
 465,
 469,
 472,
 474,
 483,
 485,
 486,
 508,
 520,
 544,
 559,
 560,
 572,
 596,
 602,
 620,
 632,
 640,
 682,
 700,
 707,
 773,
 787,
 791,
 809,
 811,
 830,
 832,
 851,
 854,
 880,
 886,
 923,
 925,
 950,
 956,
 958,
 968,
 988,
 992,
 1003,
 1049,
 1070,
 1090,
 1098,
 1105,
 1114,
 1115,
 1127,
 1135,
 1137,
 1143,
 1159,
 1169,
 1173,
 1192,
 1196,
 1206,
 1208,
 1214,
 1233,
 1238,
 1254,
 1261,
 1265,
 1266,
 1278,
 1279,
 1286,
 1336,
 1373,
 1405,
 1406,
 1414,
 1420,
 1440,
 1449,
 1475,
 1476,
 1490,
 1501,
 1503,
 1516,
 1526,
 1563,
 1584,
 1587,
 1591,
 1614,
 1637,
 1655,
 1681,
 1691,
 1695,
 1696,
 1703,
 1716,
 1718,
 1725,
 1734,
 1742,
 1750,
 1753,
 1770,
 1778,
 1789,
 1793,
 1802,
 1813,
 1817,
 1830,
 1845,
 1872,
 1887,
 1896,
 1906,
 1922,
 1943,
 1944,
 1945,
 1958,
 1959,
 1960,
 2020,
 2023,
 2034,
 2070,
 2079,
 2084,
 2089,
 2093,
 2095,
 2126,
 2175,
 2195,
 2202,
 2205,
 2215,
 2217,
 2220,
 2234,
 2303,
 2332,
 2355,
 2386,
 2390,
 2394,
 2409,
 2418,
 2468,
 2478,
 2491,
 2496,
 2502,
 2526,
 2539,
 2545,
 2559,
 2575,
 2591,
 2593,
 2633,
 2641,
 2643,
 2648,
 2655,
 2678,
 2679,
 2715,
 2737,
 2741,
 2742,
 2759,
 2762,
 2797,
 2812,
 2818,
 2826,
 2839,
 2840,
 2866,
 2883,
 2899,
 2909,
 2914,
 2924,
 2946,
 2948,
 2950,
 2954,
 2960,
 2962,
 2972,
 2973,
 2984,
 2994,
 3011,
 3022,
 3034,
 3045,
 3046,
 3049,
 3051,
 3056,
 3062,
 3066,
 3074,
 3077,
 3078,
 3106,
 3167,
 3195,
 3230,
 3232,
 3258,
 3260,
 3269,
 3271,
 3273,
 3285,
 3301,
 3314,
 3321,
 3322,
 3332,
 3337,
 3342,
 3352,
 3367,
 3374,
 3377,
 3388,
 3397,
 3405,
 3425,
 3439,
 3501,
 3510,
 3533,
 3542,
 3561,
 3563,
 3585,
 3596,
 3605,
 3647,
 3658,
 3669,
 3679,
 3687,
 3713,
 3729,
 3749,
 3758,
 3775,
 3787,
 3791,
 3793,
 3794,
 3802,
 3805,
 3807,
 3817,
 3834,
 3898,
 3899,
 3906,
 3910,
 3921,
 3926,
 3938,
 3944,
 3954,
 3960,
 3965,
 3991,
 4020,
 4027,
 4038,
 4061,
 4072,
 4090,
 4108,
 4151,
 4152,
 4157,
 4159,
 4167,
 4170,
 4179,
 4185,
 4235,
 4238,
 4240,
 4246,
 4252,
 4257,
 4261,
 4301,
 4361,
 4368,
 4372,
 4375,
 4381,
 4383,
 4386,
 4389,
 4393,
 4396,
 4406,
 4425,
 4431,
 4445,
 4451,
 4481,
 4529,
 4538,
 4553,
 4554,
 4555,
 4561,
 4570,
 4575,
 4589,
 4596,
 4598,
 4602,
 4606,
 4619,
 4625,
 4626,
 4650,
 4679,
 4703,
 4705,
 4709,
 4717,
 4726,
 4727,
 4735,
 4740,
 4741,
 4769,
 4776,
 4778,
 4817,
 4820,
 4824,
 4835,
 4840,
 4862,
 4876,
 4880,
 4884,
 4888,
 4901,
 4909,
 4912,
 4916,
 4919,
 4927,
 4941,
 4980,
 4986,
 4987,
 4989,
 4991,
 4999,
 5003,
 5019,
 5039,
 5051,
 5054,
 5063,
 5069,
 5070,
 5071,
 5098,
 5107,
 5110,
 5111,
 5122,
 5143,
 5146,
 5164,
 5178,
 5181,
 5205,
 5209,
 5228,
 5233,
 5235,
 5238,
 5249,
 5251,
 5281,
 5294,
 5343,
 5349,
 5350,
 5355,
 5361,
 5368,
 5382,
 5413,
 5420,
 5421,
 5453,
 5455,
 5468,
 5475,
 5481,
 5482,
 5490,
 5492,
 5520,
 5565,
 5585,
 5587,
 5596,
 5613,
 5623,
 5630]

In [ ]:
for i in l_tot_ten:
    df_churn_train['tenure'][i] = df_churn_train['tenure_rou'][i]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df_churn_train.head()

     id  gender  seniorcitizen  ... churn tenure_esti  tenure_rou
0  4030  Female              0  ...     0       56.83        57.0
1  6731    Male              0  ...     0       16.93        17.0
2  6479  Female              0  ...     0       59.93        60.0
3  6861  Female              0  ...     1       34.79        35.0
4  3266    Male              0  ...     1       27.91        28.0

[5 rows x 23 columns]

In [ ]:
df_churn_train.drop(columns=['tenure_esti','tenure_rou'], inplace=True)

In [ ]:
df_churn_train.head()

     id  gender  seniorcitizen  ... monthlycharges totalcharges  churn
0  4030  Female              0  ...          45.05      2560.10      0
1  6731    Male              0  ...          19.65       332.65      0
2  6479  Female              0  ...         110.80      6640.70      0
3  6861  Female              0  ...         101.90      3545.35      1
4  3266    Male              0  ...          70.75      1974.80      1

[5 rows x 21 columns]

###trata categor

In [ ]:
df_churn_train.gender.replace(['Female', 'Male'], [1, 0], inplace=True)
df_churn_train.partner.replace(['Yes', 'No'], [1, 0], inplace=True)
df_churn_train.phoneservice.replace(['Yes', 'No'], [1, 0], inplace=True)
df_churn_train.paperlessbilling.replace(['Yes', 'No'], [1, 0], inplace=True)

In [ ]:
df_churn_train.internetservice.replace(['Fiber optic', 'DSL', 'No'], [1,2,0], inplace=True)
df_churn_train.paymentmethod.replace(['Electronic check', 'Bank transfer (automatic)', 'Mailed check', 'Credit card (automatic)'], [1,2,3,4], inplace=True)
df_churn_train.contract.replace(['Two year', 'One year', 'Month-to-month'], [0,1,2], inplace=True)
df_churn_train.multiplelines.replace(['No', 'Yes', 'No phone service'], [0,1,3], inplace=True)
df_churn_train.onlinesecurity.replace(['No', 'Yes', 'No internet service'], [0,1,2], inplace=True) 
df_churn_train.onlinebackup.replace(['No', 'Yes', 'No internet service'], [0,1,2], inplace=True)
df_churn_train.deviceprotection.replace(['No', 'Yes', 'No internet service'], [0,1,2], inplace=True)
df_churn_train.techsupport.replace(['No', 'Yes', 'No internet service'], [0,1,2], inplace=True)
df_churn_train.streamingtv.replace(['No', 'Yes', 'No internet service'], [0,1,2], inplace=True)
df_churn_train.streamingmovies.replace(['No', 'Yes', 'No internet service'], [0,1,2], inplace=True)

In [ ]:
df_churn_train.dependents.replace(['Yes', 'No'], [1, 0], inplace=True)

In [ ]:
df_churn_train.head()

     id  gender  seniorcitizen  ...  monthlycharges  totalcharges  churn
0  4030       1              0  ...           45.05       2560.10      0
1  6731       0              0  ...           19.65        332.65      0
2  6479       1              0  ...          110.80       6640.70      0
3  6861       1              0  ...          101.90       3545.35      1
4  3266       0              0  ...           70.75       1974.80      1

[5 rows x 21 columns]

In [ ]:
df_churn_train.isna().sum()

id                  0
gender              0
seniorcitizen       0
partner             0
dependents          0
tenure              0
phoneservice        0
multiplelines       0
internetservice     0
onlinesecurity      0
onlinebackup        0
deviceprotection    0
techsupport         0
streamingtv         0
streamingmovies     0
contract            0
paperlessbilling    0
paymentmethod       0
monthlycharges      0
totalcharges        8
churn               0
dtype: int64

In [ ]:
l_index_charg = list(df_churn_train[df_churn_train['totalcharges'].isna()].index)
l_index_charg

[161, 416, 1766, 2145, 3375, 3404, 4008, 5151]

In [ ]:
df_churn_train.iloc[5151:5153]

        id  gender  seniorcitizen  ...  monthlycharges  totalcharges  churn
5151  1341       1              0  ...           56.05           NaN      0
5152  3749       0              0  ...           78.90        3771.5      0

[2 rows x 21 columns]

In [ ]:
for i in l_index_charg:
    df_churn_train['totalcharges'][i] = 0.0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df_churn_train.isna().sum()

id                  0
gender              0
seniorcitizen       0
partner             0
dependents          0
tenure              0
phoneservice        0
multiplelines       0
internetservice     0
onlinesecurity      0
onlinebackup        0
deviceprotection    0
techsupport         0
streamingtv         0
streamingmovies     0
contract            0
paperlessbilling    0
paymentmethod       0
monthlycharges      0
totalcharges        0
churn               0
dtype: int64

In [ ]:
df_churn_train.head()

     id  gender  seniorcitizen  ...  monthlycharges  totalcharges  churn
0  4030       1              0  ...           45.05       2560.10      0
1  6731       0              0  ...           19.65        332.65      0
2  6479       1              0  ...          110.80       6640.70      0
3  6861       1              0  ...          101.90       3545.35      1
4  3266       0              0  ...           70.75       1974.80      1

[5 rows x 21 columns]

#####tratar test

In [ ]:
url = 'https://raw.githubusercontent.com/jjefferson2006/DSWP_JJ_altera/main/test.csv'
df_churn_test = pd.read_csv(url)
df_churn_test

In [ ]:
#Normalizar as colunas
df_churn_test.columns = [col.lower() for col in df_churn_test.columns]
df_churn_test.head()

In [ ]:
df_churn_test['dependents'].fillna('No', inplace=True)

In [ ]:
df_churn_test['paymentmethod'].fillna('Electronic check', inplace=True)

In [ ]:
df_churn_test['totalcharges'] = df_churn_test['totalcharges'].str.replace(',', '.')
df_churn_test['totalcharges'] = pd.to_numeric(df_churn_test['totalcharges'], errors= 'coerce')

In [ ]:
df_churn_test[['totalcharges']].isna().sum()

In [ ]:
df_churn_test['tenure'].isna().sum()

In [ ]:
#atenÃ§Ã£o

In [ ]:
df_churn_train['tenure_esti']=round(df_churn_train['totalcharges']/df_churn_train['monthlycharges'],2)

In [ ]:
df_churn_train['tenure_rou']=round(df_churn_train['tenure_esti'])

In [ ]:
l_tot_ten = list(df_churn_train[df_churn_train['tenure'].isna()].index)
l_tot_ten

In [ ]:
for i in l_tot_ten:
    df_churn_train['tenure'][i] = df_churn_train['tenure_rou'][i]

In [ ]:
df_churn_train.drop(columns=['tenure_esti','tenure_rou'], inplace=True)

In [ ]:
l_index_charg = list(df_churn_train[df_churn_train['totalcharges'].isna()].index)
l_index_charg

In [ ]:
for i in l_index_charg:
    df_churn_train['totalcharges'][i] = 0.0

In [ ]:
df_churn_train.isna().sum()

In [ ]:
df_churn_test.gender.replace(['Female', 'Male'], [1, 0], inplace=True)
df_churn_test.partner.replace(['Yes', 'No'], [1, 0], inplace=True)
df_churn_test.phoneservice.replace(['Yes', 'No'], [1, 0], inplace=True)
df_churn_test.paperlessbilling.replace(['Yes', 'No'], [1, 0], inplace=True)

In [ ]:
df_churn_test.internetservice.replace(['Fiber optic', 'DSL', 'No'], [1,2,0], inplace=True)
df_churn_test.paymentmethod.replace(['Electronic check', 'Bank transfer (automatic)', 'Mailed check', 'Credit card (automatic)'], [1,2,3,4], inplace=True)
df_churn_test.contract.replace(['Two year', 'One year', 'Month-to-month'], [0,1,2], inplace=True)
df_churn_test.multiplelines.replace(['No', 'Yes', 'No phone service'], [0,1,3], inplace=True)
df_churn_test.onlinesecurity.replace(['No', 'Yes', 'No internet service'], [0,1,2], inplace=True) 
df_churn_test.onlinebackup.replace(['No', 'Yes', 'No internet service'], [0,1,2], inplace=True)
df_churn_test.deviceprotection.replace(['No', 'Yes', 'No internet service'], [0,1,2], inplace=True)
df_churn_test.techsupport.replace(['No', 'Yes', 'No internet service'], [0,1,2], inplace=True)
df_churn_test.streamingtv.replace(['No', 'Yes', 'No internet service'], [0,1,2], inplace=True)
df_churn_test.streamingmovies.replace(['No', 'Yes', 'No internet service'], [0,1,2], inplace=True)

In [ ]:
df_churn_test.dependents.replace(['Yes', 'No'], [1, 0], inplace=True)

In [ ]:
df_churn_test.isna().sum()

###automl

In [ ]:
clf = setup(data = df_churn_train,
            target = 'churn',
            #numeric_features = ['tenure', 'monthlycharges', 'totalcharges'] 
            #numeric_imputation = 'mean'
            categorical_features = ['gender', 'seniorcitizen', 'partner', 'dependents',
            'phoneservice', 'multiplelines', 'internetservice', 'onlinesecurity',
            'onlinebackup', 'deviceprotection', 'techsupport', 'streamingtv',
            'streamingmovies', 'contract', 'paperlessbilling', 'paymentmethod'], # lista das variÃ¡veis categÃ³ricas
            ignore_features = ['id'], 
            silent = False)

In [ ]:
compare_models()

In [ ]:
gbc = create_model('gbc')

In [ ]:
tuned_gbc = tune_model(gbc)

In [ ]:
predic = predict_model(tuned_lr, data = df_churn_test)
predic

In [ ]:
predic['Score'].mean()

In [ ]:
pred_val = predic['Label']

In [ ]:
from google.colab import files

In [ ]:
ids = df_churn_test['id']
output = pd.DataFrame({'id': ids, 'Churn': pred_val})
output.to_csv('submission14gbc.csv', index=False)
files.download('submission14gbc.csv')