<a href="https://colab.research.google.com/github/rnlima8/Aula_do_dia_06out/blob/main/sample_sub_kaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
url = 'https://raw.githubusercontent.com/jjefferson2006/DSWP_JJ_altera/main/sample_submission.csv'
df_sumiss = pd.read_csv(url)
df_sumiss

        id  Churn
0     5027      0
1     1733      1
2     5384      0
3     6554      1
4      364      0
...    ...    ...
1404  4897      1
1405  6940      0
1406   804      1
1407  1143      1
1408  5773      0

[1409 rows x 2 columns]